/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #26383F;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1D2C31;
}
input, textarea, select { 
  outline: none;
}
input:hover{
  cursor: pointer;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 15px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1D2C31;
}
body {
  background-color: #1B262A;
  color: #FFF;
}
#header{
  height: 75px;
  background-color: #1D2C31;
  font-size: 30px;
  position: relative;
}
.header{
  color: #FFF;
}
.title{
  color: #FFF;
  width: 150px;
  height: 50px;
  text-align: center;
  display: inline-block;
  position: relative;
  margin: auto;
  margin-left: 25px;
  margin-top: 15px;
}
#prices{
  width: 125px;
  height: 45px;
  margin-right: 25px;
  display: inline-block;
  margin-right: 25px;
  margin-top: 15px;
  float: right;
}

#main{
  height: calc(100vh - 175px);
  background-color: #1D2C31;
  font-size: 30px;
  position: relative;
  width: calc(100vw - 200px);
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
}
.locationWrapper{
  height: 100px;
  width: calc(100% - 100px);
  margin: auto;
  margin-top: 25px;
}
.location{
  color: #FFF;
  height: 100px;
  padding: .1px;
}
.select-search{
  margin:auto;
  display: inline-block;
}
.select-search__input{
  border: none;
  color: #fff;
  background-color: #1B262A;
  text-align: center;
}
.select-search__options{
  list-style-type: none;
  margin-left: none;
  width: 160px;
}
#prices .select-search__options{

  width: 60px;
}
.select-search__option{
  border: none;
  background-color: none;
  padding-inline-start: none;
}
.select-search__select{
  display: block;
  height: 200px;
  overflow-y: scroll;
  z-index: 1;
  position: absolute;
  background-color: #24363D;
}
.select-search__row{
  display: block;
}


#prices .select-search__input{
  width: 110px;
  height: 30px;
}
.header{
  width: 100px;
  display: inline-block;
}

.from .select-search__select{
  display: block;
  height: 200px;
  overflow-y: scroll;
  z-index: 1;
  position: absolute;
  background-color: #24363D;
}
.from .select-search__input{
  width: 210px;
  height: 40px;
  margin-right: 10px;
}
#GetFlights{
  background-color: #33C16C;
  color: #FFF;
  border-color: rgb(41, 149, 84);
  width: 200px;
  text-align: center;
  border-width: 0px 0px 2px;
  border-style: initial;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 3px;
}
#GetFlights:hover{
  cursor:pointer;
}
.quote{
  width: 100%;
  height: 100px;
  background-color: #1B262A;
  color: #FFF;
  display: inline-block;
  margin-top: 10px;
  border-radius: 3px;
}
.quote .number{
  height: 90px;
  width: 50px;
  text-align: center;
  padding: 5px;
  display: inline-block;
  border-right: solid;
  border-color: #1D2C31;
  border-width: 5px;;
}
.quote .price{
  margin-left: 10px;
  height: 50px;
  display: inline-block;
}

.quote .carrier{
  display: inline-block;
  margin-left: 50px;
}

.quote .date{
  display: inline-block;
}
.flightsinfo{
  width: calc(100%-10px);
  background-color: #1B262A;
  border-radius: 3px;
  color: #FFF;
  padding: 5px;
  font-size: 20px;
}
.react-date-picker{
  background-color: #1B262A;
  border: none;
  color: #FFF;
  font-size: 22px;
}
.react-date-picker__wrapper{
  border: none;
  border-radius: 3px;
  padding: 8px;
}
.react-date-picker__inputGroup__input{
  color: #FFF;
}
.react-date-picker__calendar-button{
  color: #FFF;
}

.flightswrapper{
  overflow-y: scroll;
  height: calc(100vh - 485px);
}